<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Turismo2026</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agencias" routerLinkActive="active">Agencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Destinos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/destinos" routerLinkActive="active">Ver Todos</a></li>
            <li><a class="dropdown-item" href="#">Destino2</a></li>
            <li><a class="dropdown-item" href="#">Destino3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
